* {
 box-sizing: border-box; 
}

body {
	border: #F00 solid 0;
	border-radius: .25rem;
	background-image: url(/cim-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: .25rem;
}

#main {
	display: flex;
	gap: .5rem;
	min-height: calc(100vh - 16vh);
}

nav {
	border: #F00 solid 0rem;
	border-radius: .25rem;
}

aside {
	border: #F00 solid 0rem;
	border-radius: .25rem;
}

article {
	border: #F00 solid 0;
	border-radius: .25rem;
	background-color: white;
}

#main > article {
	flex: 1;
}

#main > nav, 
#main > aside {
	flex: 0 0 20vw;
	background: beige;
}

#main > nav {
	order: -1;
}

header, footer, article, nav, aside {
	padding: 1em;
	opacity: 50%;
	transition: all 1s ease;
}
header:hover, footer:hover, article:hover, nav:hover, aside:hover {
	opacity: 100%;
}

header {
	border: #F00 solid 0rem;
	border-radius: .25rem;
	background: #2b619e;
	height: 8vh;
	margin-bottom: .25rem;
}


footer {
	margin-top: .375rem;
	border: #F00 solid 0rem;
	border-radius: .25rem;
	background: black;
	background-image: linear-gradient(to right top, #000000, #1a1a1a, #2c2c2c, #404040, #555555);
	color: #ccc;
	height: 5vh;
}

.logo {
	border: #F00 solid 0rem;
	border-radius: 50%;
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.12) 75%,rgba(255,255,255,0) 75%);
	height: 3rem;
	width: 3rem;
}
	
.logo > img {
	padding: .25rem;
	height: 3rem;
	width: 3rem;
}
